{{> head }}

    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>Thor</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis odit, illum, nemo impedit, quam laborum modi beatae fugiat quas repudiandae nam totam enim velit eum maiores accusamus eius voluptates maxime?</p>
        </div>
        <div class="col-4">
            <img class="img-thumbnail" src="assets/images/thor.jpg" alt="">
        </div>
    </div>

{{> footer }}